<!DOCTYPE html>
<html>
<head th:replace="layout/layout :: head"></head>
<body id="page-top">
<body id="page-top">

 <div id="wrapper">
 	<ul th:replace="layout/layout :: sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    </ul>
    <div id="content-wrapper" class="d-flex flex-column">
    	<div id="content">
    		<nav th:replace="layout/layout :: topbar" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"></nav>		
    		
				<div class ="container">
				<br>
				<h1>Lista de Apoderados</h1>
				<table class = "table table-bordered table-hover">
					<thead class="thead-dark">
						<tr>
							<th>ID</th>
							<th>Nombre</th>
							<th>Apellido</th>
							<th>DNI</th>
							<th>Email</th>
							<th>Teléfono</th>
							<th></th>
							<!--  <th></th> -->
						</tr>
					</thead>
					<tbody>
						<tr th:each="item: ${apoderados}">
							<td th:text="${item.id}"></td>
							<td th:text="${item.nombre}"></td>
							<td th:text="${item.apellidos}"></td>
							<td th:text="${item.dni}"></td>
							<td th:text="${item.email}"></td>
							<td th:text="${item.telefono}"></td>
							<!-- <td>
								<a th:href="@{/formApoderados/}+${item.id}" class="btn btn-dark">Editar</a>
								
							</td> -->
							<td> 
								<a th:href="@{/eliminar/}+${item.id}" class="btn btn-dark" onclick="return confirm('¿Estás seguro de eliminar?');">Eliminar</a>
							</td>
						</tr>
					</tbody>
				</table>
				<br>
				
				</div>
				
				</div>
    	 <footer th:replace="layout/layout :: footer" class="sticky-footer bg-white"></footer>
    </div>
 </div>
 <div th:replace="layout/layout :: modal" class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
 
</body>
</html>