<!DOCTYPE html>
<html>

<head th:replace="layout/layout :: head"></head>

<body>
	<div class="wrapper ">
		<div class="sidebar" data-color="red" th:replace="layout/layout :: sidebar"></div>

		<div class="main-panel" id="main-panel">
			<nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute"
				th:replace="layout/layout :: navbar"></nav>

			<div class="panel-header panel-header-lg">
				<div th:replace="layout/layout :: error-msg" class="alert alert-danger alert-dismissible fade show"
					role="alert" th:if="${error != null}"></div>
			</div>

			<div class="content">
				<div class="row">
					<div class="col-md-10">
						<div class="card">
							<div class="card-header">
								<h5 class="title" th:text="${titulo}"></h5>
							</div>
							<div class="card-body">
								<form class="needs-validation" th:action="@{/lectivo/form}" th:object="${anioLectivo}"
									method="post">
									<div class="row">
										<div class="col-md-6 mb-2">
											<label>Ingrese año lectivo</label>
											<select class="form-control" id="" th:field="*{anio}" required>
												<div>
													<option value="">Seleccione</option>
													<option value="2020">2020</option>
													<option value="2021">2021</option>
													<option value="2022">2022</option>
												</div>
											</select>
										</div>

										<div class="col-md-6 mb-2">
											<label>Ingrese fecha inicio</label>
											<input type="date" class="form-control" th:field="*{fecha_inicio}"
												min="2020-01-01" max="2024-01-01" required>
										</div>
									</div>


									<div class="row">
										<div class="col-md-6 mb-2">
											<label>Ingrese fecha fin</label>
											<input type="date" class="form-control" th:field="*{fecha_fin}"
												min="2020-01-01" max="2024-01-01" required>
										</div>
									</div>

									<br>
									<input type="hidden" th:field="*{id}">
									<div class="row">
										<div class="col-12 text-center">
											<button type="submit" class="btn btn-success" th:text="${guardaranio}">
												<i class="far fa-save"></i>
											</button>
											<a th:href="@{/principal/}" class="btn btn-success bg-warning">
												<i class="fas fa-times-circle"></i> Cancelar
											</a>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

			<footer class="footer" th:replace="layout/layout :: footer"></footer>
		</div>
	</div>
</body>

</html>