.rojo{
	color: red;
}
.rosado{
	background: fuchsia
}
.nav-container{
	
	height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-item.inicio a:last-of-type {
    padding-left: 0;
}
.nav-item.inicio{
    display: flex;
}
.nav-item.inicio a:first-of-type {
    padding-right: 5px;
}
.image-container-x img{
	max-width: 150px;
    max-height: 56px;
    position: absolute;
	left: 50px;
    top: -7px;
}
.nav-container{
	background: #fa5c12;
}
.nav-logo{
	display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}
