<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:fragment="head">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
    name='viewport' />
  <title>I.E.P. INTELLECTUM SANTA ISABEL</title>

  <!-- CSS Files -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />


  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" th:href="@{/fontawesome-free/css/all.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{css/_all-skins.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/now-ui-dashboard.css?v=1.5.0}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}">

  <!--   Core JS Files   -->
  <script th:src="@{/js/jquery-3.5.1.min.js}" type="text/javascript"></script>
  <script th:src="@{/js/funciones.js}" type="text/javascript"></script>
  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{/js/popper.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
  <script th:src="@{/js/perfect-scrollbar.jquery.min.js}"></script>
  <!-- Chart JS -->
  <script th:src="@{/js/chartjs.min.js}"></script>
  <!--  Notifications Plugin    -->
  <script th:src="@{/js/bootstrap-notify.js}"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script th:src="@{/js/now-ui-dashboard.min.js?v=1.5.0}" type="text/javascript"></script>
</head>

<body class="">

  <div class="wrapper ">

    <div class="sidebar" data-color="red" th:fragment="sidebar">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
          I.E.P. INTELLECTUM SANTA ISABEL
        </a>
      </div>
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
          <li class="active ">
            <a th:href="@{/principal/}">
              <i class="fas fa-house-user"></i>
              <p>Inicio</p>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-coins"></i>
              <p>Contabilidad</p>
            </a>
          </li>
          <li>
            <a href="./map.html">
              <i class="fas fa-edit"></i>
              <p>Matrícula</p>
            </a>
          </li>
          <li class="accordion" id="accordionExample">
            <a class="btn-link" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
              aria-controls="collapseOne">
              <i class="fas fa-list"></i>
              <span>Mantenimiento</span>
            </a>
            <div id="collapseOne" class="rounded bg-white py-2 collapse" aria-labelledby="headingOne"
              data-parent="#accordionExample">
              <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" th:href="@{/alumno/listar}">
                <i class="fas fa-atom"></i>
                 Alumnos</a>
                <a class="collapse-item" th:href="@{/apoderado/listaApoderados}">
                <i class="fas fa-atom"></i>
                 Apoderados</a>
                <a class="collapse-item" th:href="@{/aula/listaAulas}">
                <i class="fas fa-atom"></i>
                 Aulas</a>
                <a class="collapse-item" th:href="@{/lectivo/listar}">
                <i class="fas fa-atom"></i>
                 Periodo académico</a>
              </div>
            </div>
          </li>
          <li>
            <a href="./user.html">
              <i class="fas fa-chart-pie"></i>
              <p>Reportes</p>
            </a>
          </li>
          <li>   
           <a class="link-to-off">        
            <form th:action="@{/logout}" method="post">
              <i class="fas fa-power-off"></i>
              <p><input type="submit" value="Cerrar Sesion"/></p>
            </form>  
            </a>           
          </li>
        </ul>
      </div>
    </div>

    <div class="main-panel" id="main-panel">

      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute" th:fragment="navbar">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="#pablo">Panel de control</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
            aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form>
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <i class="fas fa-search"></i>
                  </div>
                </div>
              </div>
            </form>
            <ul class="navbar-nav" style="align-items: center;">
              <li class="nav-item">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:inline="text">Hola [[${#httpServletRequest.remoteUser}]]!</span>
              </li>
              <li class="nav-item">              
                <a class="nav-link" href="#pablo">
                  <i class="fas fa-user"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Account</span>
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->

      <div class="panel-header panel-header-lg">
        <!-- Mostrar errores y advertencias -->
        <div th:fragment="error-msg" class="alert alert-danger alert-dismissible fade show" role="alert"
          th:if="${error != null}">
          <span th:text="${error}"></span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <canvas id="bigDashboardChart"></canvas>
      </div>

      <div class="content">
        <!-- Tu Contenido aquí -->

        <!--end contenido-->
      </div>

      <footer class="footer" th:fragment="footer">
        <div class=" container-fluid ">
          <nav>
            <ul>
              <li>
                <a href="https://www.creative-tim.com">
                  Nuestro equipo
                </a>
              </li>
              <li>
                <a href="http://presentation.creative-tim.com">
                  Nosotros
                </a>
              </li>
              <li>
                <a href="http://blog.creative-tim.com">
                  Blog
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright" id="copyright">
            &copy;
            <script>
              document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
            </script>, Designed by <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by <a
              href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
          </div>
        </div>
      </footer>

    </div>
  </div>

</body>

</html>