<!DOCTYPE html>
<html>

<head th:replace="layout/layout :: head"></head>

<body>
	<div class="wrapper ">
		<div class="sidebar" data-color="red" th:replace="layout/layout :: sidebar"></div>

		<div class="main-panel" id="main-panel">
			<nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute"
				th:replace="layout/layout :: navbar"></nav>

			<div class="panel-header panel-header-lg">
				<div th:replace="layout/layout :: error-msg" class="alert alert-danger alert-dismissible fade show"
					role="alert" th:if="${error != null}"></div>
			</div>

			<div class="content">
				<div class="row">
					<div class="col-md-10">
						<div class="card">
							<div class="card-header">
								<h5 class="title" th:text="${titulo}"></h5>
							</div>
							<div class="card-body">
								<form class="card-body needs-validation" th:action="@{/formulario}"
									th:object="${alumno}" method="post">
									<div class="row">
										<div class="col-md-6 mb-2">
											<label>Ingrese Nombres: </label>

											<!-- <input type="text" th:field="*{nombre}" maxlength="35" onkeypress="return soloLetras1(event)" onblur="limpia2()" id="AlumnoNombre" class="form-control" required> -->
											<input type="text" th:field="*{nombre}"
												onkeypress="return soloLetras(event)" onblur="limpia()"
												id="ApoderadoNombre" class="form-control" pattern=".{3,15}" required>

										</div>
										<div class="col-md-6 mb-2">
											<label>Ingrese apellidos: </label>
											<input type="text" th:field="*{apellido}"
												onkeypress="return soloLetras1(event)" onblur="limpia3()"
												id="AlumnoApellido" class="form-control" pattern=".{3,15}" required>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6 mb-2">
											<label>Ingrese nombre del familiar con el que vive</label>
											<select class="form-control" id="" th:field="*{viveCon}" required>
												<div>
													<option value="">Seleccione</option>
													<option value="Padre">Padre</option>
													<option value="Madre">Madre</option>
													<option value="Otros">Otros</option>
												</div>
											</select>
										</div>
										<div class="col-md-6 mb-2">
											<label>Ingrese número de hermanos</label>
											<input type="text" th:field="*{numeroHermanos}" maxlength="2"
												class="form-control" onkeypress="return soloNumeros(event)" required>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6 mb-2">
											<label>Ingrese colegio de procedencia</label>
											<input type="text" th:field="*{colegioProcedencia}" class="form-control"
												pattern=".{5,30}" required>
										</div>
										<div class="col-md-6 mb-2">
											<label>Ingrese observaciones</label>
											<input type="text" th:field="*{direccion}" class="form-control"
												pattern=".{5,120}" required>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6 mb-2">
											<label>Ingrese fecha nacimiento</label>
											<input type="date" class="form-control" th:field="*{fechanac}"
												min="2002-01-01" max="2014-12-31" required>
										</div>
										<div class="col-md-6 mb-2">
											<label>Ingrese DNI</label>
											<input type="text" th:field="*{dni}" class="form-control"
												onkeypress="return soloNumeros(event)" pattern=".{8,8}" required>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6 mb-2">
											<label>Seleccione genero</label>
											<select class="form-control" id="" th:field="*{genero}" required>
												<div>
													<option value="">Seleccione</option>
													<option value="Fem">Femenino</option>
													<option value="Mas">Masculino</option>
												</div>
											</select>
										</div>
										<div class="col-md-6 mb-2">
											<label>Ingrese teléfono</label>
											<input type="text" th:field="*{telefono}" class="form-control"
												onkeypress="return soloNumeros(event)" pattern=".{7,9}" required>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6 mb-2">
											<label>Ingrese Correo:</label>
											<input type="email" th:field="*{email}" class="form-control" required>
										</div>
									</div>
									<br>
									<input type="hidden" th:field="*{alumno_id}">
									<div class="row">
										<div class="col-12 text-center">
											<button type="submit" class="btn btn-success" th:text="${guardar}">
												<i class="far fa-save"></i>
											</button>
											<a th:href="@{/principal/}" class="btn btn-success bg-warning">
												<i class="fas fa-times-circle"></i> Cancelar
											</a>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

			<footer class="footer" th:replace="layout/layout :: footer"></footer>
		</div>
	</div>
</body>

</html>