<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">

</head>
<body>
	<div class="container mt-4">
	<h1 class="text-center mb-4">Agregar Alumno</h1>
		<table class="table table-bordered table-hover">
			<thead class="thead-dark">
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Fecha Nac.</th>
					<th>Vive con</th>					
					<th>Hermanos</th>
					<th>Colegio proc.</th>
					<th>Observaciones</th>
					<th>Fecha</th>					
					<th></th>
					<th></th>					
				</tr>
			</thead>
			<tbody>
				<tr th:each="alumno:${alumnos}">
					<td th:text="${alumno.alumno_id}"></td>
					<td th:text="${alumno.nombre}"></td>
					<td th:text="${alumno.apellido}"></td>
					<td th:text="${alumno.fechanac}"></td>
					<td th:text="${alumno.viveCon}"></td>					
					<td th:text="${alumno.numeroHermanos}"></td>
					<td th:text="${alumno.colegioProcedencia}"></td>
					<td th:text="${alumno.observaciones}"></td>
					<td th:text="${alumno.fechaCreacion}"></td>										
					<td>
						<a th:href="@{/formulario/}+${alumno.alumno_id}" class="btn btn-dark">Editar</a>
					</td>
					<td>
						<a th:href="@{/eliminarAl/}+${alumno.alumno_id}" class="btn btn-dark" onclick="return confirm('Seguro que desea eliminar el registro?');">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
		<br>
		<a th:href="@{/formulario}" class="btn btn-info"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
</svg>Nuevo Alumno</a>
	</div>
</body>
</html>