<!DOCTYPE html>
<html>

<head th:replace="layout/layout :: head"></head>

<body>
	<div class="wrapper ">
		<div class="sidebar" data-color="red" th:replace="layout/layout :: sidebar"></div>

		<div class="main-panel" id="main-panel">
			<nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute"
				th:replace="layout/layout :: navbar"></nav>

			<div class="panel-header panel-header-lg">
				<div th:replace="layout/layout :: error-msg" class="alert alert-danger alert-dismissible fade show"
					role="alert" th:if="${error != null}"></div>
			</div>

			<div class="content">
				<!--Codigo aqui-->
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<h5 class="mb-4">Lista de Alumnos</h5>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-bordered table-hover">
										<thead class="thead-darkx text-danger">
											<tr>
												<th>Id</th>
												<th>Nombre</th>
												<th>Apellido</th>
												<th>Vive con</th>
												<th>Hermanos</th>
												<th>Colegio proc.</th>
												<th>Dirección</th>
												<th>Fecha Nac.</th>
												<th>Dni</th>
												<th></th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="alumno:${alumnos}">
												<td th:text="${alumno.alumno_id}"></td>
												<td th:text="${alumno.nombre}"></td>
												<td th:text="${alumno.apellido}"></td>
												<td th:text="${alumno.viveCon}"></td>
												<td th:text="${alumno.numeroHermanos}"></td>
												<td th:text="${alumno.colegioProcedencia}"></td>
												<td th:text="${alumno.direccion}"></td>
												<td th:text="${alumno.fechanac}"></td>
												<td th:text="${alumno.dni}"></td>
												<td>
													<a th:href="@{/formulario/}+${alumno.alumno_id}"
														class="btn btn-warning">
														<i class="far fa-edit"></i>
													</a>
												</td>
												<td>
													<a th:href="@{/eliminarAl/}+${alumno.alumno_id}"
														class="btn btn-danger"
														onclick="return confirm('Seguro que desea eliminar el registro?');">
														<i class="far fa-trash-alt"></i>
													</a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<br>
								<a th:href="@{/formulario}" class="btn btn-info">
									<i class="fas fa-plus-circle"></i> Nuevo Alumno
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<footer class="footer" th:replace="layout/layout :: footer"></footer>
		</div>
	</div>
</body>

</html>