<!DOCTYPE html>
<html>

<head th:replace="layout/layout :: head"></head>

<body id="page-top">

 <div id="wrapper">
 	<ul th:replace="layout/layout :: sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    </ul>
    <div id="content-wrapper" class="d-flex flex-column">
    	<div id="content">
    		<nav th:replace="layout/layout :: topbar" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"></nav>		
    		Hola
    	</div>
    	 <footer th:replace="layout/layout :: footer" class="sticky-footer bg-white"></footer>
    </div>
 </div>
 <div th:replace="layout/layout :: modal" class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
 
 
</body>


</html>
